= link_to "New Game", :game_boards, method: :post, class: "btn btn-primary", type: "button"
%h1
  Last 10 Tic-Tac-Toe Games
%table.table
  - @game_boards.order(updated_at: :desc).take(10).each do |game_board|
    %tr
      %td
        =link_to game_board.updated_at.strftime("%Y-%m-%d"), game_board.winners.present? ? game_board_path(game_board.id) : edit_game_board_path(game_board.id)
      %td
        = game_board.winners.present? ? "#{game_board.winners.map(&:upcase).join(" & ")} wins" : "Incomplete"
